{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="{% url 'home' %}">DocHealthcheck</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          {% if user.is_doctor %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'doctor_dashboard' %}">Doctor Dashboard</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'patient_dashboard' %}">Patient Dashboard</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Patient Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register_doctor' %}">Doctor Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>